<div class="box">
	<i class="fa fa-quote-left fa2" aria-hidden="true"></i>
	<div class="text">
		<i class="fa fa-quote-right fa1" aria-hidden="true"></i>			
		<div id="quote-container">
      
		</div>
	</div>
</div>


<%# <button type="button" id="getQuote" class="btn btn-info">Get Quote</button>
<h1 id="quote-title"></h1>
<p id="quote-content"></p>
<hr>
<p id="quote-id"></p>
<p id="quote-link"></p>

<hr>
<p class="Timer"></p> %>